<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd 
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- smsService -->
	<bean id="smsService" class="com.lovecws.mumu.common.sms.service.JPushSMSService"
		scope="singleton">
		<property name="appKey" value="${sms.appKey}" />
		<property name="masterSecret" value="${sms.masterSecret}" />
		<property name="smsUri" value="${sms.uri}" />
		<property name="templateId" value="${sms.templateId}" />
	</bean>

</beans>