<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lovecws.mumu.system.dao.impl.SysRoleMenuDaoImpl">
	<resultMap id="SysRoleMenuResultMap" type="com.lovecws.mumu.system.entity.SysRoleMenu">
		<id column="role_menu_id" property="roleMenuId" jdbcType="INTEGER" />
		<result column="role_menu_status" property="roleMenuStatus"
			jdbcType="VARCHAR" />

		<result column="creator" property="creator" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" />

		<result column="role_id" property="roleId" jdbcType="INTEGER" />
		<result column="menu_id" property="menuId" jdbcType="INTEGER" />
	</resultMap>
	<sql id="SysRoleMenuColumn">
		role_menu_id,role_menu_status,creator,create_time,role_id,menu_id
	</sql>
	
	<!-- 批量添加 -->
	<insert id="batchInsert" parameterType="SysRoleMenu"
		useGeneratedKeys="true" keyProperty="roleMenuId">
		insert into sys_role_menu
		(role_menu_status,creator,create_time,role_id,menu_id)
		values
		<foreach collection="list" item="item" index="index"
			separator=",">
			(
			#{item.roleMenuStatus},
			#{item.creator},
			#{item.createTime},
			#{item.roleId},
			#{item.menuId}
			)
		</foreach>
	</insert>

    <!-- 删除 -->
	<delete id="batchDeleteByColumn" parameterType="map">
		delete from sys_role_menu
		<where>
			<if test="roleId!=null">
				and role_id=#{roleId}
			</if>
			<if test="menuId!=null">
				and menu_id IN (SELECT menu_id from sys_menu where menu_id=#{menuId} or parent_menu_id=#{menuId})
			</if>
		</where>
	</delete>
</mapper>