<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lovecws.mumu.data.area.dao.impl.DataAreaRegionDaoImpl">
	<resultMap id="SystemAreaResultMap" type="com.lovecws.mumu.data.area.entity.DataAreaRegion">
		<id column="a_id" property="aId" jdbcType="INTEGER" />
		<result column="a_code" property="aCode" jdbcType="VARCHAR" />
		<result column="c_code" property="cCode" jdbcType="VARCHAR" />
		<result column="a_name" property="aName" jdbcType="VARCHAR" />
		<result column="a_sname" property="aSname" jdbcType="VARCHAR" />
		<result column="a_pinying" property="aPinying" jdbcType="VARCHAR" />
		<result column="a_py" property="aPy" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="SystemAreaColumn">
		a_id, a_code, c_code, a_name, a_sname, a_pinying, a_py
	</sql>

	<!-- 根据城市code，获取城市下的所有区 -->
	<select id="listByColumn" resultMap="SystemAreaResultMap"
		parameterType="map">
		select
		<include refid="SystemAreaColumn" />
		from data_area_region
		where c_code = #{cityCode}
	</select>
</mapper>