<link href="$request.getContextPath()/resources/bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="$request.getContextPath()/resources/css/style.css" rel="stylesheet">
<link rel="stylesheet" href="$request.getContextPath()/resources/bootstrap-table/css/bootstrap-table.min.css" >
<div class="main-content" style="margin-left: 0px;overflow-y: hidden;">
    <div class="page-heading">
        <h3>数据字典</h3>
        <ul class="breadcrumb">
            <li>系统管理</li>
            <li class="active" onclick="changeFrameSrc('$request.getContextPath()/system/ddl/index','ddls')">数据字典</li>
        </ul>
    </div>
    <div class="wrapper">
        <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <div id="toolbar">
                        #if($shiro.hasPermission('system:ddl:add'))
                            <button type="button" class="btn btn-default btn-sm" onclick="changeFrameSrc('$request.getContextPath()/system/ddl/add','ddls',true)"><span class="fa fa-plus-square"></span>添加</button>
                        #end
                        #if($!model.has("sys_ddl"))
                            #if($shiro.hasPermission('system:ddl:export'))
                                <a href="/common/export/excel/sys_ddl" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-export"></span>导出</a>
                            #end
                        #end
                    </div>
                    <table id="table"
                           data-toggle="table"
                           data-toolbar="#toolbar"
                           data-show-refresh="false"
                           data-search="false"
                           data-show-toggle="false"
                           data-show-columns="false"
                           data-show-export="false"
                           data-id-field="id"
                           data-pagination="true"
                           data-query-params="queryParams"
                           data-query-type="limit"
                           data-show-footer="false"
                           data-click-to-select="true"
                           data-single-select="false"
                           data-striped="false"
                           data-method="get"
                           data-url="$request.getContextPath()/system/ddl/page"
                           data-side-pagination="server"
                           data-page-list="[15, 30, 50, 100, ALL]"
                           data-show-pagination-switch="false"
                           data-search-on-enter-key="true"
                           data-pagination-v-align="bottom"
                           data-show-pagination-switch="false">
                        <thead>
                        <tr>
                            <th data-field="ddlCode" data-valign="middle" data-align="center">字典内码</th>
                            <th data-field="ddlValue" data-valign="middle" data-align="center">字典值</th>
                            <th data-field="ddlNumber" data-valign="middle" data-align="center">字典排序</th>
                            <th data-field="operate" data-valign="middle" data-align="center" data-formatter="operateFormatter" data-events="operateEvents">操作</th>
                        </tr>
                        </thead>
                    </table>
                </section>
            </div>
        </div>
        #include("/system/footer.vm")
    </div>
</div>
<script type="text/javascript" src="$request.getContextPath()/resources/jquery/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="$request.getContextPath()/resources/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="$request.getContextPath()/resources/layer/layer.js"></script>
<script type="text/javascript" src="$request.getContextPath()/resources/bootstrap-table/js/bootstrap-table.min.js"></script>
<script type="text/javascript" src="$request.getContextPath()/resources/bootstrap-table/js/bootstrap-table-zh-CN.min.js"></script>
<script src="$request.getContextPath()/resources/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="$request.getContextPath()/resources/js/jquery.nicescroll.js"></script>
<script src="$request.getContextPath()/resources/js/scripts.js"></script>
<script type="text/javascript">
    //表格查询参数
    function queryParams(params) {
        return {
            withDDLTables:'true',
            beginIndex:params.offset,
            pageSize:params.limit
        };
    }
    //查询数据字典
    function queryDDLS(){
        var $table = $('#table');
            $table.bootstrapTable("refresh");
    }
    //操作按钮
    function operateFormatter(value, row, index) {
        var buttons=[];
        var viewPermission = "$shiro.hasPermission('system:ddl:view')";
        if (viewPermission && viewPermission == "true") {
            buttons.push('<button type="button" class="btn btn-default btn-sm DDLSDetail"><span class="fa fa-eye"></span>详情</button>');
        }
        var editPermission = "$shiro.hasPermission('system:ddl:edit')";
        if (editPermission && editPermission == "true") {
            buttons.push('<button type="button" class="btn btn-default btn-sm DDLSEdit"><span class="fa fa-edit"></span>编辑</button>');
        }
        var deletePermission = "$shiro.hasPermission('system:ddl:delete')";
        if (deletePermission && deletePermission == "true") {
            buttons.push('<button type="button" class="btn btn-default btn-sm DDLSDelete"><span class="fa fa-trash-o"></span>删除</button>');
        }
        var tablesPermission = "$shiro.hasPermission('system:ddl:view')";
        if (tablesPermission && tablesPermission == "true") {
            buttons.push('<button type="button" class="btn btn-default btn-sm DDLTables"><span class="fa fa-users"></span>集合</button>');
        }
        return buttons.join('');
    }
    //表格点击事件
    var operateEvents = {
        //数据字典详情
        'click .DDLSDetail': function (e, value, row, index) {
            changeFrameSrc("$request.getContextPath()/system/ddl/view/"+row.id,"ddls",true)
        },
        //编辑数据字典
        'click .DDLSEdit': function (e, value, row, index) {
            changeFrameSrc("$request.getContextPath()/system/ddl/edit/"+row.id,"ddls",true)
        },
        //删除数据字典
        'click .DDLSDelete': function (e, value, row, index) {
            layer.confirm('你确定要删除数据字典【'+row.ddlCode+'】吗?', {icon: 3, title:'提示'}, function(index){
                $.post("$request.getContextPath()/system/ddl/delete/"+row.id+"/"+row.ddlCode,{_method:'delete'},function(data){
                    if(data.code==200){
                        layer.msg(data.msg,{
                            icon: 1,
                            skin: 'demo-class',
                            title :'信息',
                            time:2000,
                            area: ['300px', '200px'],
                            offset: 'rb',
                            end :function(){
                                queryDDLS();
                            }
                        });
                    }else{
                        layer.alert(data.msg);
                    }
                });
            });
        },
        //数据字典列表
        'click .DDLTables': function (e, value, row, index) {
            changeFrameSrc("$request.getContextPath()/system/ddl/tables/"+row.ddlCode,"ddls",true);
            queryDDLS();
        }
    };
</script>