<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- 采用注释的方式配置bean -->
	<context:annotation-config />

	<context:property-placeholder location="classpath:properties/jdbc.properties,classpath:properties/cache.properties,classpath:properties/jedis.properties"/>

	<!-- 扫描注解Bean -->
	<context:component-scan base-package="com.lovecws.mumu.oauth.server">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>

	<aop:aspectj-autoproxy proxy-target-class="true" />

	<import resource="classpath*:spring/spring-system-service.xml" />
	<import resource="classpath:spring/spring-shiro.xml" />
	<import resource="classpath:spring/spring-common-redis.xml" />
</beans>