<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<link rel="stylesheet" type="text/css" href="$request.getContextPath()/resources/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<script type="text/javascript" src="$request.getContextPath()/resources/jquery/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="$request.getContextPath()/resources/bootstrap/js/bootstrap.min.js"></script>
<title>图片展示</title>
<style type="text/css">
.container-fluid{
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
}
.container-fluid img{
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
}
</style>
<script type="text/javascript">

</script>
</head>
<body>
	<div class="container-fluid">
	   <img alt="图片展示" src="$!imageURL">
	</div>
</body>
</html>