<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lovecws.mumu.data.car.dao.impl.DataCarSubBrandDaoImpl">

	<resultMap id="DataCarSubBrandResultMap" type="com.lovecws.mumu.data.car.entity.DataCarSubBrand">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="initial" property="initial" jdbcType="VARCHAR" />
		<result column="parentid" property="parentId" jdbcType="INTEGER" />
		<result column="depth" property="depth" jdbcType="INTEGER" />
		<result column="status" property="status" jdbcType="INTEGER" />
	</resultMap>
	<sql id="DataCarSubBrandColumn">
		id, name, initial, parentid, depth, status
	</sql>

	<!-- 根据父id或者品牌名称获取汽车子公司 -->
	<select id="listByColumn" resultMap="DataCarSubBrandResultMap"
		parameterType="map">
		select
		<include refid="DataCarSubBrandColumn" />
		from data_car_subbrand
		<where>
			<if test="parentId!=null and parentId!=''">
				and parentid = #{parentId}
			</if>
			<if test="status!=null and status!=''">
				and status = #{status}
			</if>
		</where>
	</select>
	
	<!-- ==========================web后台接口========================= -->
	<!-- 根据id获取汽车子公司 -->
	<select id="getByColumn" resultMap="DataCarSubBrandResultMap"
		parameterType="map">
		select id, name, initial
		from data_car_subbrand
		where id=#{id}
	</select>
	
	<!-- 获取汽车子公司的总数 -->
	<select id="listPageCount" resultType="long" parameterType="map">
		select count(*)
		from data_car_subbrand
		<where>
			<if test="parentId!=null and parentId!=''">
				and parentid=#{parentId}
			</if>
			<if test="searchContent!=null and searchContent!=''">
				and name like concat('%',#{searchContent},'%')
			</if>
			<if test="status!=null and status!=''">
				and status = #{status}
			</if>
		</where>
	</select>

	<!-- 获取所有的汽车子公司（分页+搜索） -->
	<select id="listPage" resultMap="DataCarSubBrandResultMap"
		parameterType="map">
		select id, name, initial
		from data_car_subbrand
		<where>
			<if test="parentId!=null and parentId!=''">
				and parentid=#{parentId}
			</if>
			<if test="searchContent!=null and searchContent!=''">
				and name like concat('%',#{searchContent},'%')
			</if>
			<if test="status!=null and status!=''">
				and status = #{status}
			</if>
		</where>
		<if test="beginIndex!=null and numPerPage!=null">
			limit #{beginIndex},#{numPerPage}
		</if>
	</select>
	
	<!-- 添加汽车子公司 -->
	<insert id="insert" parameterType="com.lovecws.mumu.data.car.entity.DataCarSubBrand"
		useGeneratedKeys="true" keyProperty="id">
		insert into data_car_subbrand
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id!=null">
				id,
			</if>
			<if test="name!=null">
				name,
			</if>
			<if test="initial!=null">
				initial,
			</if>
			<if test="parentId!=null">
				parentid,
			</if>
			<if test="depth!=null">
				depth,
			</if>
			<if test="status!=null">
				status,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id!=null">
				#{id},
			</if>
			<if test="name!=null">
				#{name},
			</if>
			<if test="initial!=null">
				#{initial},
			</if>
			<if test="parentId!=null">
				#{parentId},
			</if>
			<if test="depth!=null">
				#{depth},
			</if>
			<if test="status!=null">
				#{status},
			</if>
		</trim>
	</insert>
	
	<!-- 修改汽车子公司 -->
	<update id="updateByPrimaryKey" parameterType="com.lovecws.mumu.data.car.entity.DataCarSubBrand">
		update data_car_subbrand
		<set>
			<if test="name!=null">
				name=#{name},
			</if>
			<if test="initial!=null">
				initial=#{initial},
			</if>
			<if test="parentId!=null and parentId!=0">
				parentid=#{parentId},
			</if>
			<if test="depth!=null">
				depth=#{depth},
			</if>
			<if test="status!=null and parentId!=0">
				status=#{status},
			</if>
		</set>
		<where>
			<if test="id!=null">
				id=#{id}
			</if>
		</where>
	</update>
</mapper>