<link href="$request.getContextPath()/resources/bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="$request.getContextPath()/resources/css/style.css" rel="stylesheet">
<link rel="stylesheet" href="$request.getContextPath()/resources/bootstrap-table/css/bootstrap-table.min.css">
<div class="main-content" style="margin-left: 0px;overflow-y: hidden;">
    <div class="page-heading">
        <h3>组织机构</h3>
        <ul class="breadcrumb">
            <li>系统管理</li>
            <li class="active" onclick="changeFrameSrc('$request.getContextPath()/system/organize/index','orgs')">组织机构</li>
        </ul>
    </div>
    <div class="wrapper">
        <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <div id="toolbar">
                        #if($shiro.hasPermission('system:organize:add'))
                            <button type="button" class="btn btn-default btn-sm" onclick="changeFrameSrc('$request.getContextPath()/system/organize/add','orgs',true)"><span class="fa fa-plus-square"></span>添加</button>
                        #end
                        #if($shiro.hasPermission('system:organize:graph'))
                            <button type="button" class="btn btn-default btn-sm" onclick="rganizeGraph()"><span class="glyphicon glyphicon-picture"></span>组织结构图</button>
                        #end
                    </div>
                    <table id="table"
                           data-toggle="table"
                           data-toolbar="#toolbar"
                           data-show-refresh="false"
                           data-search="false"
                           data-show-toggle="false"
                           data-show-columns="false"
                           data-show-export="false"
                           data-id-field="orgId"
                           data-pagination="true"
                           data-query-params="queryParams"
                           data-query-type="limit"
                           data-show-footer="false"
                           data-click-to-select="true"
                           data-single-select="false"
                           data-striped="false"
                           data-method="get"
                           data-url="$request.getContextPath()/system/organize/page"
                           data-side-pagination="server"
                           data-page-list="[15, 30, 50, 100, ALL]"
                           data-show-pagination-switch="false"
                           data-search-on-enter-key="true"
                           data-pagination-v-align="bottom"
                           data-show-pagination-switch="false">
                        <thead>
                        <tr>
                            <th data-field="orgId" data-visible="false">机构ID</th>
                            <th data-field="orgName" data-valign="middle">机构名称</th>
                            <th data-field="parentOrgName" data-valign="middle">上级机构名称</th>
                            <th data-field="parentOrgId" data-visible="false">上级机构ID</th>
                            <th data-field="createTime" data-valign="middle">创建时间</th>
                            <th data-field="operate" data-valign="middle" data-formatter="operateFormatter" data-events="operateEvents">操作
                            </th>
                        </tr>
                        </thead>
                    </table>
                </section>
            </div>
        </div>
        #include("/system/footer.vm")
    </div>
</div>
<script type="text/javascript" src="$request.getContextPath()/resources/jquery/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="$request.getContextPath()/resources/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="$request.getContextPath()/resources/layer/layer.js"></script>
<script type="text/javascript" src="$request.getContextPath()/resources/bootstrap-table/js/bootstrap-table.min.js"></script>
<script type="text/javascript" src="$request.getContextPath()/resources/bootstrap-table/js/bootstrap-table-zh-CN.min.js"></script>
<script src="$request.getContextPath()/resources/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="$request.getContextPath()/resources/js/jquery.nicescroll.js"></script>
<script src="$request.getContextPath()/resources/js/scripts.js"></script>
<script type="text/javascript">
    //组织机构图
    function rganizeGraph() {
        window.layer.open({
            type: 2,
            title: '组织机构图',
            maxmin: true,
            content: ['$request.getContextPath()/orgGraph.html', 'yes'],
            area: ['800px', '600px']
        });
    }
    //表格查询参数
    function queryParams(params) {
        return {
            beginIndex: params.offset,
            pageSize: params.limit
        };
    }
    //查询组织机构
    function queryOrgs() {
        var $table =$('#table');
        $table.bootstrapTable("refresh");
    }
    //操作按钮
    function operateFormatter(value, row, index) {
        var buttons = [];
        var viewPermission = "$shiro.hasPermission('system:organize:view')";
        if (viewPermission && viewPermission == "true") {
            buttons.push('<button type="button" class="btn btn-default btn-sm OrgsDetail"><span class="fa fa-eye"></span>详情</button>');
        }
        var editPermission = "$shiro.hasPermission('system:organize:edit')";
        if (editPermission && editPermission == "true") {
            buttons.push('<button type="button" class="btn btn-default btn-sm OrgsEdit"><span class="fa fa-edit"></span>编辑</button>');
        }
        var deletePermission = "$shiro.hasPermission('system:organize:delete')";
        if (deletePermission && deletePermission == "true") {
            buttons.push('<button type="button" class="btn btn-default btn-sm OrgsDelete"><span class="fa fa-trash-o"></span>删除</button>');
        }
        var membersPermission = "$shiro.hasPermission('system:organize:members')";
        if (membersPermission && membersPermission == "true") {
            buttons.push('<button type="button" class="btn btn-default btn-sm OrgsMembers"><span class="fa fa-users"></span>成员</button>');
        }
        return buttons.join('');
    }
    //表格点击事件
    var operateEvents = {
        //组织机构详情
        'click .OrgsDetail': function (e, value, row, index) {
            changeFrameSrc("$request.getContextPath()/system/organize/view/" + row.orgId, "orgs", true)
        },
        //编辑组织机构
        'click .OrgsEdit': function (e, value, row, index) {
            changeFrameSrc("$request.getContextPath()/system/organize/edit/" + row.orgId, "orgs", true)
        },
        //删除组织机构
        'click .OrgsDelete': function (e, value, row, index) {
            layer.confirm('你确定要删除组织机构【' + row.orgName + '】吗?', {icon: 3, title: '提示'}, function (index) {
                $.post("$request.getContextPath()/system/organize/delete/" + row.orgId ,{_method: 'delete'}, function (data) {
                    if (data.code == 200) {
                        layer.msg(data.msg, {
                            icon: 1,
                            skin: 'demo-class',
                            title: '信息',
                            time: 2000,
                            area: ['300px', '200px'],
                            offset: 'rb',
                            end: function () {
                                queryOrgs();
                            }
                        });
                    } else {
                        layer.alert(data.msg);
                    }
                });
            });
        },
        //组织机构下的成员
        'click .OrgsMembers': function (e, value, row, index) {
            window.layer.open({
                type: 2,
                title: '组织机构成员',
                maxmin: true,
                content: ["$request.getContextPath()/system/organize/members?orgId=" + row.orgId, 'yes'],
                area: ['600px', '400px']
            });
        },
    };
</script>