<link href="$request.getContextPath()/resources/bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="$request.getContextPath()/resources/css/style.css" rel="stylesheet">
<link rel="stylesheet" href="$request.getContextPath()/resources/bootstrap-table/css/bootstrap-table.min.css">
<div class="main-content" style="margin-left: 0px;overflow-y: hidden;">
    <div class="page-heading">
        <h3>导出设置</h3>
        <ul class="breadcrumb">
            <li>系统管理</li>
            <li class="active" onclick="changeFrameSrc('$request.getContextPath()/system/export/index','exports')">导出设置</li>
        </ul>
    </div>
    <div class="wrapper">
        <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <div id="toolbar">
                        <button type="button" class="btn btn-default btn-sm"
                                onclick="changeFrameSrc('$request.getContextPath()/system/export/add','exports',true)">
                            <span class="fa fa-plus-square"></span>添加
                        </button>
                    </div>
                    <table id="table"
                           class="table table-hover table-bordered table-striped table-responsive fixed-table"
                           data-toggle="table"
                           data-toolbar="#toolbar"
                           data-show-refresh="false"
                           data-search="false"
                           data-show-toggle="false"
                           data-show-columns="false"
                           data-show-export="false"
                           data-id-field="orgId"
                           data-pagination="true"
                           data-query-params="queryParams"
                           data-query-type="limit"
                           data-show-footer="false"
                           data-click-to-select="true"
                           data-single-select="false"
                           data-striped="false"
                           data-method="get"
                           data-url="$request.getContextPath()/system/export/page"
                           data-side-pagination="server"
                           data-page-list="[15, 30, 50, 100, ALL]"
                           data-show-pagination-switch="false"
                           data-search-on-enter-key="true"
                           data-pagination-v-align="bottom"
                           data-show-pagination-switch="false">
                        <thead>
                        <tr>
                            <th data-field="modelName" data-valign="middle">模型名称</th>
                            <th data-field="cnames" data-valign="middle">中文字段集合</th>
                            <th data-field="enames" data-valign="middle">英文字段集合</th>
                            <th data-field="operate" data-valign="middle" data-formatter="operateFormatter" data-events="operateEvents">操作
                            </th>
                        </tr>
                        </thead>
                    </table>
                </section>
            </div>
        </div>
        #include("/system/footer.vm")
    </div>
</div>
<script type="text/javascript" src="$request.getContextPath()/resources/jquery/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="$request.getContextPath()/resources/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="$request.getContextPath()/resources/layer/layer.js"></script>
<script type="text/javascript" src="$request.getContextPath()/resources/bootstrap-table/js/bootstrap-table.min.js"></script>
<script type="text/javascript" src="$request.getContextPath()/resources/bootstrap-table/js/bootstrap-table-zh-CN.min.js"></script>
<script src="$request.getContextPath()/resources/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="$request.getContextPath()/resources/js/jquery.nicescroll.js"></script>
<script src="$request.getContextPath()/resources/js/scripts.js"></script>
<script type="text/javascript">
    //表格查询参数
    function queryParams(params) {
        return {
            beginIndex: params.offset,
            pageSize: params.limit
        };
    }
    //查询导出设置
    function queryExportModels() {
        var $table =$('#table');
        $table.bootstrapTable("refresh");
    }
    //操作按钮
    function operateFormatter(value, row, index) {
        var buttons = [];
        buttons.push('<button type="button" class="btn btn-default btn-sm ExportModelsDetail"><span class="fa fa-eye"></span>详情</button>');
        buttons.push('<button type="button" class="btn btn-default btn-sm ExportModelsEdit"><span class="fa fa-edit"></span>编辑</button>');
        buttons.push('<button type="button" class="btn btn-default btn-sm ExportModelsDelete"><span class="fa fa-trash-o"></span>删除</button>');
        return buttons.join('');
    }
    //表格点击事件
    var operateEvents = {
        //导出设置详情
        'click .ExportModelsDetail': function (e, value, row, index) {
            changeFrameSrc("$request.getContextPath()/system/export/view/" + row.modelId, "exports", true)
        },
        //编辑导出设置
        'click .ExportModelsEdit': function (e, value, row, index) {
            changeFrameSrc("$request.getContextPath()/system/export/edit/" + row.modelId, "exports", true)
        },
        //删除导出设置
        'click .ExportModelsDelete': function (e, value, row, index) {
            layer.confirm('你确定要删除导出设置【' + row.modelName + '】吗?', {icon: 3, title: '提示'}, function (index) {
                $.post("$request.getContextPath()/system/export/delete/" + row.modelId ,{_method: 'delete'}, function (data) {
                    if (data.code == 200) {
                        layer.msg(data.msg, {
                            icon: 1,
                            skin: 'demo-class',
                            title: '信息',
                            time: 2000,
                            area: ['300px', '200px'],
                            offset: 'rb',
                            end: function () {
                                queryExportModels();
                            }
                        });
                    } else {
                        layer.alert(data.msg);
                    }
                });
            });
        }
    };
</script>