<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>baby慕慕开发平台--忘记密码</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="$request.getContextPath()/resources/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="$request.getContextPath()/resources/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="$request.getContextPath()/resources/css/AdminLTE.min.css">
    <style type="text/css">
        a, a:hover,a:visited {
            text-decoration: none;
        }
        a:link, a:visited {
            color: #9B9EA0;
        }
        a:visited {
            color: #9B9EA0;
            text-decoration: none;
        }
        .iforget-page{
            background-color: silver;
            background-image: url('$request.getContextPath()/resources/images/bg.jpg');
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            background-size: 100% 100%;
            z-index: 999px;
            min-height: 800px;
        }
        #main-content{
            border: 1px solid #fff;
            margin: 0 auto;
            width: 1000px;
        }
        #main-content .login-logo{
            margin-top: 15px;
        }
        .iforget-box-body{
            padding-top: 0px;
            width: 1000px;
            min-height: 300px;
        }
        .iforget-box-body .list-group li{
            width: 980px;
            border: 1px solid #b3b3b3;
            margin-bottom: 10px;
            height: 100px;
        }
        .iforget-box-body .list-group .list-group-item div{
            float: left;
        }
        .iforget-box-body .list-group .list-group-item div .title{
            line-height: 28px;
            height: 28px;
            font-size: 16px;
            font-weight: 700;
        }
        .iforget-box-body .list-group .list-group-item div .notice{
            display: block;
            font-size: 12px;
            color: #888;
        }
        .iforget-box-body .list-group .list-group-item a{
            float: right;
            margin-top: 30px;
            line-height: 26px;
            height: 26px;
            width: 120px;
            background-color: #f40;
            border: 1px solid #f40;
            display: inline-block;
            text-align: center;
            text-decoration: none;
            vertical-align: middle;
            cursor: pointer;
            font-size: 14px;
            font-weight: 700;
            border-radius: 2px;
            padding: 0 20px;
            background-image: none;
            color: #fff;
        }
    </style>
</head>
<div class="hold-transition iforget-page">
    #parse("header.vm")
    <div id="main-content">
        <div class="login-logo">
            <b>找回密码<br></b>
        </div>
        <div class="iforget-box-body">
            <ul class="list-group">
                <li class="list-group-item">
                    <div>
                        <h3 class="title">
                            <span class="text">通过 手机号码</span>
                        </h3>
                        <p class="notice">使用你的手机号码来找回密码</p>
                    </div>
                    <a href="/system/iforget/phone">找回密码</a>
                </li>
                <li class="list-group-item">
                    <div>
                        <h3 class="title">
                            <span class="text">通过 邮箱账号</span>
                        </h3>
                        <p class="notice">使用你的邮箱来找回密码</p>
                    </div>
                    <a href="/system/iforget/email">找回密码</a>
                </li>
                <li class="list-group-item">
                    <div>
                        <h3 class="title">
                            <span class="text">通过 人工服务</span>
                        </h3>
                        <p class="notice">使用人工服务来找回密码</p>
                    </div>
                    <a href="/system/iforget/service">找回密码</a>
                </li>
            </ul>
        </div>
    </div>
    #parse("footer.vm")
</div>
<script src="$request.getContextPath()/resources/jquery/jquery-3.1.0.min.js"></script>
<script src="$request.getContextPath()/resources/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(".iforget-box-body li").click(function () {
        var that=this;
        $(".iforget-box-body li").css("border-color","#b3b3b3");
        $(that).css("border-color","red");
    });
</script>
