<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>baby慕慕开发平台--注册成功</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="$request.getContextPath()/resources/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="$request.getContextPath()/resources/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="$request.getContextPath()/resources/css/AdminLTE.min.css">
    <style type="text/css">
        a, a:hover,a:visited {
            text-decoration: none;
        }
        a:link, a:visited {
            color: #9B9EA0;
        }
        a:visited {
            color: #9B9EA0;
            text-decoration: none;
        }
        #main-content{
            min-height: 600px;
        }
    </style>
</head>
<div class="hold-transition login-page" style="height: auto;background-color: silver;background-image: url('$request.getContextPath()/resources/images/bg.jpg');background-repeat: no-repeat;width: 100%;height: 100%;background-size: 100% 100%;z-index: 999px">
    #parse("header.vm")
    <div id="main-content">
        <div class="login-logo" style="margin-top: 15px;">
            <b>注册成功<br></b>
        </div>
        <div class="register-box-body">
            <input type="hidden" name="registerType" value="$!registerType">
            <input type="hidden" name="contact" value="$!contact">
            #if($!registerType=='phone')
                <div style="width: 600px;margin: 0 auto;">
                    <h2>手机号码注册成功，请<a href="/system/login">登录</a></h2>
                </div>
            #elseif($!registerType=='email')
                <div style="width: 600px;margin: 0 auto;">
                    #if($code==200)
                        <h2>邮箱激活成功,请<a href="/system/login">登录</a>。</h2>
                    #elseif($code==500)
                        <h2>$!msg</h2>
                    #else
                        <h2>邮件发送成功，请<a href="" id="emailActive" target="_blank">激活邮件</a>之后，再<a href="/system/login">登录</a>。</h2>
                    #end
                </div>
            #else
                <div style="width: 600px;margin: 0 auto;">
                    <h2>注册成功，请<a href="/system/login">登录</a></h2>
                </div>
            #end
        </div>
    </div>
    #parse("footer.vm")
</div>
<script src="$request.getContextPath()/resources/jquery/jquery-3.1.0.min.js"></script>
<script src="$request.getContextPath()/resources/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(function () {
        var locationHref=window.location.href;
        var registerType=$("input[name='registerType']").val();
        var contact=$("input[name='contact']").val();
        if(locationHref.indexOf("?")==-1){
            window.location.href=locationHref+"?registerType="+registerType+"&contact="+contact;
        }
        //qq邮箱
        if(contact&&contact.indexOf("@qq.com")>0){
            $("#emailActive").attr("href","https://mail.qq.com");
        }
        //阿里云邮箱
        else if(contact&&contact.indexOf("@aliyun.com")>0){
            $("#emailActive").attr("href","https://mail.aliyun.com");
        }
        //163网易邮箱
        else if(contact&&contact.indexOf("@163.com")>0){
            $("#emailActive").attr("href","http://mail.163.com/");
        }
        //163 vip 网易邮箱
        else if(contact&&contact.indexOf("@vip.163.com")>0){
            $("#emailActive").attr("href","http://vip.163.com/");
        }
    });
</script>
