<link href="$request.getContextPath()/resources/bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="$request.getContextPath()/resources/css/style.css" rel="stylesheet">
<link rel="stylesheet" href="$request.getContextPath()/resources/bootstrap-table/css/bootstrap-table.min.css">
<link rel="shortcut icon" href="$request.getContextPath()/resources/images/favicon.ico" type="image/x-icon">
<div class="main-content" style="margin-left: 0px;overflow-y: hidden;">
    <div class="page-heading">
        <h3>消息管理</h3>
        <ul class="breadcrumb">
            <li>系统管理</li>
            <li onclick="changeFrameSrc('$request.getContextPath()/system/message/index','messages')">消息管理</li>
            <li class="active" onclick="changeFrameSrc('$request.getContextPath()/system/message/receiver/$!messageId','messages',true)">消息接受</li>
        </ul>
    </div>
    <div class="wrapper">
        <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <table id="table"
                           data-toggle="table"
                           data-show-refresh="false"
                           data-search="false"
                           data-show-toggle="false"
                           data-show-columns="false"
                           data-show-export="false"
                           data-id-field="permissionId"
                           data-pagination="true"
                           data-query-params="queryParams"
                           data-query-type="limit"
                           data-show-footer="false"
                           data-click-to-select="true"
                           data-single-select="false"
                           data-striped="false"
                           data-method="get"
                           data-url="$request.getContextPath()/system/message/receiverPage?messageId=$!messageId"
                           data-side-pagination="server"
                           data-page-list="[15, 30, 50, 100, ALL]"
                           data-show-pagination-switch="false"
                           data-search-on-enter-key="true"
                           data-pagination-v-align="bottom"
                           data-show-pagination-switch="false">
                        <thead>
                        <tr>
                            <th data-field="userId" data-visible="true" data-align="center">用户ID</th>
                            <th data-field="userName" data-valign="middle" data-align="center">用户名称</th>
                            <th data-field="messageContainerStatus" data-valign="middle" data-align="center" data-formatter="messageStatusFormatter">消息状态</th>
                            <th data-field="createDate" data-valign="middle" data-align="center">消息时间</th>
                        </tr>
                        </thead>
                    </table>
                </section>
            </div>
        </div>
        #include("/system/footer.vm")
    </div>
</div>
<script type="text/javascript" src="$request.getContextPath()/resources/jquery/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="$request.getContextPath()/resources/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="$request.getContextPath()/resources/layer/layer.js"></script>
<script type="text/javascript" src="$request.getContextPath()/resources/bootstrap-table/js/bootstrap-table.min.js"></script>
<script type="text/javascript" src="$request.getContextPath()/resources/bootstrap-table/js/bootstrap-table-zh-CN.min.js"></script>
<script src="$request.getContextPath()/resources/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="$request.getContextPath()/resources/js/jquery.nicescroll.js"></script>
<script src="$request.getContextPath()/resources/js/scripts.js"></script>
<script type="text/javascript">
    //表格查询参数
    function queryParams(params) {
        return {
            beginIndex: params.offset,
            pageSize: params.limit
        };
    }
    function messageStatusFormatter(value, row, index) {
        if(value=="unread"){
            return "未读";
        }else if(value=="read"){
            return "已读";
        }else if(value=="delete"){
            return "删除";
        }
        return value;
    }
</script>