<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<title>角色分配菜单</title>
<link rel="stylesheet" type="text/css" href="$request.getContextPath()/resources/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="$request.getContextPath()/resources/ztree/zTreeStyle/zTreeStyle.css" type="text/css">
<style type="text/css">
    body .container-fluid {
        padding: 0px;
        margin: 0px;
        width: 100%;
        min-height: 500px;
    }

    body .saveButton {
        position: fixed;
        left: 0px;
        bottom: 0px;
        width: 100%;
        height: 50px;
        /*background-color:silver;*/
        z-index: 9999;
    }
</style>
</head>
<body>
   <div class="container-fluid">
       <input type="hidden" name="roleId" value="$!roleId">
       <div align="center" class="tree">
     	   <ul id="roleAllowMenuTree" class="ztree" style="-moz-user-select: none;"></ul>
       </div>
   </div>
   <div align="center" class="saveButton">
       <button type="button" onclick="saveRoleMenu('$roleId')" class="btn btn-lg btn-info">保存</button>
   </div>
</body>
<script type="text/javascript" src="$request.getContextPath()/resources/jquery/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="$request.getContextPath()/resources/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="$request.getContextPath()/resources/ztree/js/jquery.ztree.core.min.js"></script>
<script type="text/javascript" src="$request.getContextPath()/resources/ztree/js/jquery.ztree.excheck.min.js"></script>
<script type="text/javascript" src="$request.getContextPath()/resources/layer/layer.js"></script>
<script type="text/javascript">
    //ztree基本配置
    var zTreeObj;
    var setting = {
        view: {
            showLine: false,
            dblClickExpand: true
        },
        callback: {},
        check: {
            enable: true
        },
        data: {
            simpleData: {
                enable: true,
                idKey: "id",
                pIdKey: "pId",
                rootPId: 0
            }
        }
    };
    var ztree = $.fn.zTree;
    //保存角色菜单
    function saveRoleMenu(roleId) {
        var menuIds = [];
        var nodes = zTreeObj.getCheckedNodes();
        for (var i = 0; i < nodes.length; i++) {
            var menuId = nodes[i].id;
            if (menuId != 'topMenu') {
                menuIds.push(nodes[i].id);
            }
        }
        console.log(menuIds.join(','));
        //保存用户分配的角色
        $.post('$request.getContextPath()/system/role/allowMenu', {roleId: roleId, menuIds: menuIds.join(',')}, function (data) {
            layer.msg(data.msg, {
                icon: 1,
                skin: 'demo-class',
                title: '信息',
                time: 2000,
                end: function () {
                    if (data.code == 200) {
                        parent.layer.closeAll();
                    }
                }
            });
        });
    }
    $(function () {
        var roleId = $("input[name='roleId']").val();
        $.get("$request.getContextPath()/system/role/allowMenu/" + roleId, function (data) {
            zTreeObj = ztree.init($("#roleAllowMenuTree"), setting, data);
        });
    });
</script>
</html>