<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="$request.getContextPath()/resources/images/favicon.ico" type="image/x-icon">

  <title>unauth Page</title>

  <link href="$request.getContextPath()/resources/css/style.css" rel="stylesheet">
  <link href="$request.getContextPath()/resources/css/style-responsive.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>
  <![endif]-->
</head>
<body class="error-page">
<section>
    <div class="container ">
        <section class="error-wrapper text-center" style="text-align: center">
            <h1><img alt="" src="$request.getContextPath()/resources/images/500-error.png"></h1>
            <h2>OOOPS!!!</h2>
            <h3>Something went wrong.</h3>
            <p class="nrml-txt">Why not try refreshing you page? Or you can <a href="#">contact our support</a> if the problem persists.</p>
            <a class="back-btn" href="$request.getContextPath()/index.html"> Back To Home</a>
        </section>
    </div>
</section>
<!-- Placed js at the end of the document so the pages load faster -->
<script src="$request.getContextPath()/resources/js/jquery-1.10.2.min.js"></script>
<script src="$request.getContextPath()/resources/js/jquery-migrate-1.2.1.min.js"></script>
<script src="$request.getContextPath()/resources/js/bootstrap.min.js"></script>
<script src="$request.getContextPath()/resources/js/modernizr.min.js"></script>


<!--common scripts for all pages-->
<!--<script src="js/scripts.js"></script>-->

</body>
</html>
