<link href="$request.getContextPath()/resources/bootstrap/css/bootstrap.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="$request.getContextPath()/resources/layui/css/layui.css">
<link href="$request.getContextPath()/resources/css/style.css" rel="stylesheet">
<div class="main-content" style="margin-left: 0px;overflow-y: hidden;">
    <div class="page-heading">
        <h3>群组用户详情</h3>
        <ul class="breadcrumb">
            <li>系统管理</li>
            <li onclick="changeFrameSrc('$request.getContextPath()/system/group/index','groups')">用户群组</li>
            <li onclick="changeFrameSrc('$request.getContextPath()/system/group/members/$!groupId','groups',true)">用户组成员</li>
            <li class="active" onclick="changeFrameSrc('$request.getContextPath()/system/group/memberView/$!userGroupId','groups',true)">群组用户详情</li>
        </ul>
    </div>
    <div class="wrapper">
        <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <form class="layui-form" action="">
                        <input type="hidden" name="userGroupId" value="$!userGroup.userGroupId">
                        <div class="layui-form-item">
                            <label class="layui-form-label">选择用户</label>
                            <div class="layui-input-inline">
                                <select name="userId" required lay-verify="required">
                                    <option value="0">$!userGroup.userName</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">用户权限</label>
                            <div class="layui-input-inline">
                                #if($!userGroup.privilage==1)
                                    <input type="radio" name="privilage" value="1" title="员工" checked="checked">
                                    <input type="radio" name="privilage" value="2" title="副组长">
                                    <input type="radio" name="privilage" value="3" title="组长">
                                #elseif($!userGroup.privilage==2)
                                    <input type="radio" name="privilage" value="1" title="员工">
                                    <input type="radio" name="privilage" value="2" title="副组长" checked="checked">
                                    <input type="radio" name="privilage" value="3" title="组长">
                                #else
                                    <input type="radio" name="privilage" value="1" title="员工">
                                    <input type="radio" name="privilage" value="2" title="副组长">
                                    <input type="radio" name="privilage" value="3" title="组长" checked="checked">
                                #end
                            </div>
                        </div>
                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">用户描述</label>
                            <div class="layui-input-block">
                                <textarea id="groupDesc" name="remark" placeholder="请输入用户组描述"
                                          class="layui-textarea">$!userGroup.remark</textarea>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
        #include("/system/footer.vm")
    </div>
</div>
<script type="text/javascript" src="$request.getContextPath()/resources/jquery/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="$request.getContextPath()/resources/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="$request.getContextPath()/resources/layui/layui.js"></script>
<script src="$request.getContextPath()/resources/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="$request.getContextPath()/resources/js/jquery.nicescroll.js"></script>
<script src="$request.getContextPath()/resources/js/scripts.js"></script>
<script type="text/javascript">
    $(function () {
        layui.use(['form', 'layedit', 'laydate'], function () {
            var form = layui.form(), layer = layui.layer, layedit = layui.layedit, laydate = layui.laydate;
            var groupDescIndex = layedit.build('groupDesc', {tool: ['strong', 'italic', 'underline', '|', 'left', 'center', 'right']});
        });
    });
</script>